doctype html
html(lang="es")
    head
    include ../template/headSRC

    title #{title}

    body
        .loading.show
            p Cargando...
            .spin

        include ../template/nav
        #panelContainer

            include ../template/menu
            .panel.two
                .content.p-0(style="max-height:800px; overflow-y:auto;")
                    h3.my-3.mx-3 Ordenes Entrantes
                    hr

                .card.mx-2
                    .card-header
                    .card-body
                        table#tbl-entrantes.display.table.table-hover(width='100%')
                            thead.thead-dark
                                tr
                                    th Folio
                                    th Fecha entrada
                                    th Fecha saliente
                                    th Dentista
                                    th Paciente
                                    th Status
                                    th Acciónes

                    .card-footer







    include ../template/scripts
    include ../modals/details_orden_modal
    include ../modals/edit_order_modal
    include ../modals/agregar_producto_Modal

    script( src='./public/core/js/common.js')
    script.
        let STATUS_BUSQUEDA = "!{status}";
        let dt_name = "tbl-entrantes";

    script( src='./public/core/js/status_core.js?v=' + Math.random())
