#detailsOrder_modal.modal.fade(tabindex='-1')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header.bg-dark.text-white
        h5.modal-title 
             b Detalle de la orden
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        .card
            .card-header 
              .details_general_order 

            .card-body 
              .details_product_order
                
            .card-footer
              p.fw-bold
                | Comentario: 
                span.fw-normal.comentario
      .modal-footer
        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cerrar
        button.btn.btn-success(type='button' data-bs-dismiss='modal') Aceptar
