#editProductModal.modal.fade(tabindex='-1')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.bg-dark.text-white
                h5.modal-title
                    b Editar Producto
                button.btn-close#close_modal(type='button'  data-bs-dismiss='modal' aria-label='Close')
            .modal-body
                .card

                    .card-body
                        div
                            .row
                                .col-3
                                    button.btn.btn-warning(type="button").my-3.mx-3
                                        i.fa-solid.fa-tooth.text-white
                                        span#countEdit.badge.badge-light.text-dark.mx-2  0
                                .col-6
                                    label.fw-bold Producto:
                                    input#producto_nameEdit.rounded-pill.border.border-dark.form-control(style="width:95%;" list='producto_optionEdit' autocomplete="off")
                                    datalist#producto_optionEdit
                                .col-3
                                    label.fw-bold Color:
                                    input#color_nameEdit.rounded-pill.border.border-dark.form-control(style="width:95%;" list='color_optionEdit' autocomplete="off")
                                    datalist#color_optionEdit
                        hr
                        .text-center
                            .row.my-2
                                .col-6.text-end

                                    input#toothEdit_18.btn-check(value="18" typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-info.btn-sm(for='toothEdit_18')

                                        |  18

                                    input#toothEdit_17.btn-check(value="17"    typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-info.btn-sm(for='toothEdit_17')

                                        |  17

                                    input#toothEdit_16.btn-check(value="16"    typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-info.btn-sm(for='toothEdit_16')

                                        |  16

                                    input#toothEdit_15.btn-check(value="15"    typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-info.btn-sm(for='toothEdit_15')

                                        |  15

                                    input#toothEdit_14.btn-check(value="14"    typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-info.btn-sm(for='toothEdit_14')

                                        |  14

                                    input#toothEdit_13.btn-check(valuw="13"    typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-info.btn-sm(for='toothEdit_13')

                                        |  13

                                    input#toothEdit_12.btn-check(value="12"    typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-info.btn-sm(for='toothEdit_12')

                                        |  12

                                    input#toothEdit_11.btn-check(value="11"    typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-info.btn-sm(for='toothEdit_11')

                                        |  11

                                .col-6.text-start

                                    input#toothEdit_21.btn-check(value="21"    typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-danger.btn-sm(for='toothEdit_21')

                                        |  21

                                    input#toothEdit_22.btn-check(value="22"    typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-danger.btn-sm(for='toothEdit_22')

                                        |  22

                                    input#toothEdit_23.btn-check(value="23"    typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-danger.btn-sm(for='toothEdit_23')

                                        |  23

                                    input#toothEdit_24.btn-check(value="24"    typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-danger.btn-sm(for='toothEdit_24')

                                        |  24

                                    input#toothEdit_25.btn-check(value="25"    typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-danger.btn-sm(for='toothEdit_25')

                                        |  25

                                    input#toothEdit_26.btn-check(value="26"    typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-danger.btn-sm(for='toothEdit_26')

                                        |  26

                                    input#toothEdit_27.btn-check(value="27"    typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-danger.btn-sm(for='toothEdit_27')

                                        |  27

                                    input#toothEdit_28.btn-check(value="28"    typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-danger.btn-sm(for='toothEdit_28')

                                        |  28

                            .row.my-4
                                .col-6.text-end

                                    input#toothEdit_48.btn-check(value="48"    typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-success.btn-sm(for='toothEdit_48')

                                        |  48

                                    input#toothEdit_47.btn-check(value="47"    typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-success.btn-sm(for='toothEdit_47')

                                        |  47

                                    input#toothEdit_46.btn-check(value="46"    typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-success.btn-sm(for='toothEdit_46')

                                        |  46

                                    input#toothEdit_45.btn-check(value="45"    typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-success.btn-sm(for='toothEdit_45')

                                        |  45

                                    input#toothEdit_44.btn-check(value="44"    typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-success.btn-sm(for='toothEdit_44')

                                        |  44

                                    input#toothEdit_43.btn-check(value="43"    typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-success.btn-sm(for='toothEdit_43')

                                        |  43

                                    input#toothEdit_42.btn-check(value="42"    typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-success.btn-sm(for='toothEdit_42')

                                        |  42

                                    input#toothEdit_41.btn-check(value="41"    typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-success.btn-sm(for='toothEdit_41')

                                        |  41

                                .col-6.text-start

                                    input#toothEdit_31.btn-check(value="31" typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-warning.btn-sm(for='toothEdit_31')

                                        |  31

                                    input#toothEdit_32.btn-check(value="32" typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-warning.btn-sm(for='toothEdit_32')

                                        |  32

                                    input#toothEdit_33.btn-check(value="33" typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-warning.btn-sm(for='toothEdit_33')

                                        |  33

                                    input#toothEdit_34.btn-check(value="34" typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-warning.btn-sm(for='toothEdit_34')

                                        |  34

                                    input#toothEdit_35.btn-check(value="35" typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-warning.btn-sm(for='toothEdit_35')

                                        |  35

                                    input#toothEdit_36.btn-check(value="36" typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-warning.btn-sm(for='toothEdit_36')

                                        |  36

                                    input#toothEdit_37.btn-check(value="37" typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-warning.btn-sm(for='toothEdit_37')

                                        |  37

                                    input#toothEdit_38.btn-check( value="38" typeBtn='edit' type='checkbox'   autocomplete='off')
                                    label.btn.btn-outline-warning.btn-sm(for='toothEdit_38')

                                        |  38




            .modal-footer
                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cerrar
                button.btn.btn-success#saveEditProduct(type='button') Guardar

