#reset_user_modal.modal(tabindex='-1')
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title Modal title
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        p User
      .modal-footer
        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
        button.btn.btn-primary(type='button') Save changes
