doctype html
html(lang="es")
    head
    include template/headSRC
    title #{title}
    body


        include template/nav
        #panelContainer

            include template/menu
            .panel.two
                div(style="width:100%;border-bottom: 1px solid #343A40 ")
                    .row
                        .col-6.text-start
                            h3.m-3 Contabilidad
                        .col-6.my-2.text-start
                            .row
                                .col-10
                                    .form-group

                                        input.dentistas_name.rounded-pill.border.border-dark.form-control( list='dentista_option' placeholder="SELECCIONE UN DENTISTA:" autocomplete="off")
                                        datalist#dentista_option




                .row.mx-1
                    .col-8
                        .container
                            h5.my-3 Ordenes Creadas:
                            table#tblOrdenes.display.table.table-hover(width='100%')
                                thead.thead-dark
                                    tr
                                        th Folio
                                        th Fecha entrada
                                        th No Trabajos
                                        th Paciente
                                        th Status
                                        th Total


                            hr.py-1
                            h5.my-3 Historial de pagos
                            table#tbl_Pagos.display.table.table-hover(width='100%')
                                thead.thead-dark
                                    tr
                                        th Fecha
                                        th Cantidad


                    .col-4
                        div.row.mx-3.my-2.text-center
                            h3#nameDentista.fw-bold
                            .col-12


                                div.text-center.my-4
                                    input#saldoPagos(type="number" style="display:none;")
                                    input#saldoDeuda(type="number" style="display:none;")

                                    h2.display-4.fw-bolder Saldo: $
                                        span#cantidadSaldo
                                            | 0

                                div.text-center

                                    label.fw-bold.mx-2 Dejar dinero a cuenta:
                                    input.rounded-pill.border.border-dark.form-control#aCuenta(type="number" min=0 )





    include template/scripts
    script( src='./public/core/js/common.js')
    script( src='./public/core/js/contabilidad.js')
