doctype html
html(lang="es")
    head
    include template/headSRC
    title #{title}
    body


        include template/nav
        #panelContainer

            include template/menu
            .panel.two
                div(style="width:100%;border-bottom: 1px solid #343A40 ")
                    .row
                        .col-6.text-start
                            h3.m-3 Contabilidad
                        .col-6.my-2.text-start
                            .row
                                .col-10
                                    .form-group

                                        input.dentistas_name.rounded-pill.border.border-dark.form-control( list='dentista_option' placeholder="SELECCIONE UN DENTISTA:" autocomplete="off")
                                        datalist#dentista_option



                .row

                    .col-3
                        div.text-center.my-5.col-12
                            h3.mx-2.fw-bold DENTISTA:
                                span.mx-2#nameDentista.fw-bold
                        div.text-center.my-3.col-12
                            input#saldoPagos(type="number" style="display:none;")
                            input#saldoDeuda(type="number" style="display:none;")

                            h2.display-4.fw-bolder Saldo: $
                                span#cantidadSaldo
                                    | 0
                        div.text-center.my-3.col-12

                            label.fw-bold.mx-2 Dejar dinero a cuenta:
                            input.rounded-pill.border.border-dark.form-control#aCuenta(type="number" min=0 )


                    .col-9
                        .card

                            .card-body
                                ul#myTab.nav.nav-tabs(role='tablist')
                                    li.nav-item(role='presentation')
                                        button#ordenes-tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#ordenes_' type='button' role='tab' aria-controls='ordenes' aria-selected='true') Ordenes
                                    li.nav-item(role='presentation')
                                        button#historial-tab.nav-link(data-bs-toggle='tab' data-bs-target='#historial_' type='button' role='tab' aria-controls='historial' aria-selected='true') Historial pagos
                                    li.nav-item(role='presentation')
                                        button#ordenes-pagadas-tab.nav-link(data-bs-toggle='tab' data-bs-target='#ordenes_pagadas_' type='button' role='tab' aria-controls='ordenes_pagadas' aria-selected='false') Ordenes pagadas

                            #myTabContent.tab-content
                                #ordenes_.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='ordenes-tab')

                                    .card
                                        .card-header
                                            h5.my-3 Ordenes Creadas:
                                        .card-body
                                            div(style="overflow-y: auto;  height: 450px;")

                                                table#tblOrdenes.table.table-hover(width='100px')
                                                    thead.thead-dark
                                                        tr
                                                            th Folio
                                                            th Paciente
                                                            th Pzs
                                                            th Trabajo
                                                            th ODS
                                                            th Status
                                                            th Total

                                #historial_.tab-pane.fade(role='tabpanel' aria-labelledby='historial-tab')

                                    .card
                                        .card-header
                                            h5.my-3 Historial de pagos

                                        .card-body
                                            div(style="overflow-y: auto;  height: 450px;")
                                                table#tbl_Pagos.table.table-hover(width='100px')
                                                    thead.thead-dark
                                                        tr
                                                            th Fecha
                                                            th Cantidad
                                                            th Acciones


                                #ordenes_pagadas_.tab-pane.fade(role='tabpanel' aria-labelledby='ordenes-pagadas-tab')












    include template/scripts
    script( src='./public/core/js/common.js')
    script( src='./public/core/js/contabilidad.js')
