doctype html
html(lang="es")
      head
      include template/headSRC
        
      title #{title}

      body


            include template/nav
            #panelContainer

                  include template/menu
                  .panel.two
                        .content.p-0(style="max-height:800px; overflow-y:auto;")
                              div(style="width:100%;border-bottom: 1px solid #343A40 ")
                                    h3.m-3 Dentistas

                              .card
                                    .card-header 
                                          button.btn.btn-dark.open_modal_new_dentist 
                                                i.fas.fa-tooth
                                                |  Nuevo dentista  
                                    .card-body
                                        
                                                table#tbl_dentistas.display.table.table-hover(width='100%')
                                                      thead.thead-dark
                                                            tr

                                                                  
                                                                  th Nombre
                                                                  th Celular
                                                                  th Distintivo
                                                                  th No. ordenes
                                                                  th Status
                                                                  th Acciones  

                                    .card-footer
                              
               
         
          
      include modals/new_dentist_modal
      include modals/details_dentist_modal

      include template/scripts
      script( src='./public/core/js/common.js')
      script( src='./public/core/js/dentistas.js')
