doctype html
html(lang="es")
        head
        include template/headSRC
        
        title #{title}

        body
        
          
          
        

        
        include template/scripts
