doctype html
html(lang="es")
    head
        include template/headSRC
        title #{title}
    body
        .container.my-5

            include template/login



    include modals/resetContra_Model
    include modals/resetUser_Model
    include template/scripts
    script( src='./public/core/js/common.js?v=' + Math.random())
    script( src='./public/core/js/login.js?v=' + Math.random())

  
      
      