doctype html
html(lang="es")
      head
      include template/headSRC
        
      title #{title}

      body
         .container.my-5
      
               include template/login
         
          
          

      include template/scripts
