doctype html
html(lang="es")
    head
    include template/headSRC
    title #{title}
    body


        include template/nav
        #panelContainer

            include template/menu
            .panel.two
                div(style="width:100%;border-bottom: 1px solid #343A40 ")
                    h3.m-3 Generar orden


                .row.my-2.mx-1
                    .col-6.p-0.m-0
                        .card
                            .card-header.p-0.m-0.bg-dark
                                .py-2.m-0
                                    h5.text-white.mx-2 Datos para nueva orden
                            .card-body
                                div.my-2
                                    .row.my-2

                                        .col-3

                                            div.text-start
                                                label.fw-bold DR:
                                                input.dentistas_name.rounded-pill.border.border-dark.form-control( list='dentista_option' autocomplete="off")
                                                datalist#dentista_option
                                        .col-3
                                            div.text-start
                                                label.fw-bold PX:
                                                input.paciente_name.rounded-pill.border.border-dark.form-control(  type="text" autocomplete="off")

                                        .col-3

                                            div.text-start

                                                label.fw-bold Entrada:

                                                input.date_entrada.rounded-pill.border.border-dark.form-control(type="text" autocomplete="off")

                                        .col-3


                                            div.text-start

                                                label.fw-bold Salida:

                                                input.date_salida.rounded-pill.border.border-dark.form-control( type="text" autocomplete="off")

                                include template/products_selectionTooth
                                .text-center
                                    label.fw-bold Comentario:
                                    textarea.comntario_order.border.border-dark.form-control( name="", cols="5", rows="2" autocomplete="off")

                            .card-footer.text-center
                                button.saved_order.btn.btn-success
                                    i.fas.fa-paper-plane
                                    |     Crear orden
                    .col-6.p-0.m-0
                        include template/viewLastOrder






    include modals/editProduct
    include template/scripts
    script( src='./public/core/js/common.js')
    script( src='./public/core/js/ordenes.js')
