doctype html
html(lang="es")
    head
    include template/headSRC
    title #{title}
    body


        include template/nav
        #panelContainer

            include template/menu
            .panel.two
                div(style="width:100%;border-bottom: 1px solid #343A40 ")
                    .row
                        .col-6.text-start
                            h3.m-3 Generar orden
                        .col-6.my-3
                            .row
                                .col-10
                                    input#searchOrders.mx-2.rounded-pill.border.border-dark.form-control(type='number' min=2108 style="max-width:100%;" placeholder='BUSCAR UNA ORDEN ')

                                //.col-4.text-start
                                    button#btnSearch.btn.btn-outline-primary  🔎

                .row.my-2.mx-1
                    .col-6.p-0.m-0
                        .card.border-0
                            .card-header.p-0.m-0.bg-dark
                                .py-2.m-0
                                    h5.text-white.mx-2.py-1 Datos para nueva orden
                            .card-body
                                div.my-2
                                    .row.my-2

                                        .col-3

                                            div.text-start
                                                label.fw-bold DR:
                                                input.dentistas_name.rounded-pill.border.border-dark.form-control( list='dentista_option' autocomplete="off")
                                                datalist#dentista_option
                                        .col-3
                                            div.text-start
                                                label.fw-bold PX:
                                                input.paciente_name.rounded-pill.border.border-dark.form-control(  type="text" autocomplete="off")

                                        .col-3

                                            div.text-start

                                                label.fw-bold Entrada:

                                                input.date_entrada.rounded-pill.border.border-dark.form-control(type="text" autocomplete="off")

                                        .col-3


                                            div.text-start

                                                label.fw-bold Salida:

                                                input.date_salida.rounded-pill.border.border-dark.form-control( type="text" autocomplete="off")
                                div.my-4.text-center
                                    .row
                                        .col-6
                                            .form-check.fw-bold
                                                input#regMor.form-check-input(type='checkbox' value='')
                                                label.form-check-label(for='regMor')
                                                    | Reg. Mor.


                                        .col-6
                                            .form-check.fw-bold
                                                input#antagon.form-check-input(type='checkbox' value='')
                                                label.form-check-label(for='antagon')
                                                    | Antagon
                                include template/products_selectionTooth


                                div.text-center.my-3
                                    label.fw-bold Comentario:
                                    textarea.comntario_order.border.border-dark.form-control( name="", cols="5", rows="2" autocomplete="off")

                                div.text-center
                                    button.saved_order.btn.btn-success.btn-block
                                        i.fas.fa-paper-plane
                                        |     Crear orden
                    .col-6.p-0.m-0
                        include template/viewLastOrder





    include modals/editProduct
    include modals/agregar_producto_Modal
    include template/scripts
    script( src='./public/core/js/common.js')
    script( src='./public/core/js/ordenes.js')
