doctype html
html(lang="es")
    head
    include template/headSRC
    title #{title}
    body
        .loading.show
            p Cargando...
            .spin

        include template/nav
        #panelContainer

            include template/menu
            .panel.two
                .content.p-0(style="max-height:800px; overflow-y:auto;")
                    h3.my-3.mx-3 Generar orden
                    hr
                .row.mx-2
                    .col-4.col-sm-4.col-md-4.col-lg-4
                        .card
                            .card-header.p-0.m-0.bg-dark
                                .py-2.m-0
                                    h5.text-white.mx-2 Datos para nueva orden:
                            .card-body
                                .row.my-2

                                    .col-12

                                        .text-start
                                            label.fw-bold Dentista:
                                            input.dentistas_name.rounded-pill.border.border-dark(style="width:95%;" list='dentista_option' autocomplete="off")
                                            datalist#dentista_option
                                    .col-12
                                        .text-start.my-2
                                            label.fw-bold Paciente:
                                            input.paciente_name.rounded-pill.border.border-dark( style="width:95%;" type="text" autocomplete="off")

                                .row.my-2
                                    .col-6

                                        .text-start

                                            label.fw-bold Entrada:
                                            br
                                            input.date_entrada.rounded-pill.border.border-dark(style="width:80%;" type="text" autocomplete="off")

                                    .col-6


                                        .text-start

                                            label.fw-bold Salida:
                                            br
                                            input.date_salida.rounded-pill.border.border-dark(style="width:80%;" type="text" autocomplete="off")

                                .card-footer
                                    .text-center.my-2
                                        label.fw-bold Comentario:
                                        textarea.comntario_order.border.border-dark(style="width:95%;" name="", cols="5", rows="2" autocomplete="off")



                    .col-8.col-sm-8.col-md-8.col-lg-8
                        include template/products_selectionTooth

    include template/scripts
    script( src='./public/core/js/common.js')
    script( src='./public/core/js/ordenes.js')
