doctype html
html(lang="es")
      head
      include template/headSRC
        
      title #{title}

      body
            .loading.show
                  p Cargando..
                  .spin
            
            #panelContainer 

                  .panel.one
                        .content.card
                              .card-body(style="max-height:800px; overflow-y:auto;")
                                    include template/menu
                  .panel.two
                        .content.p-0(style="max-height:800px; overflow-y:auto;")
                              p Hola
               
         
          
        
      include template/scripts
