doctype html
html(lang="es")
    head
    include template/headSRC

    title #{title}

    body
        .loading.show
            p Cargando...
            .spin

        include template/nav
        #panelContainer

            .panel.one
                .content.card
                    .card-body(style="max-height:800px; overflow-y:auto;")
                        include template/menu
            .panel.two
                .content.p-0(style="max-height:800px; overflow-y:auto;")
                    h3.my-3.mx-3 Dashboard
                    hr
                    





    include template/scripts
    script( src='./public/core/js/common.js')
    script( src='./public/core/js/panel.js')
