doctype html
html(lang="es")
      head
      include template/headSRC
        
      title #{title}

      body
         .container.my-5
      
               h2 Welcome to panel
               
         
          
        
      include template/scripts
