doctype html
html(lang="es")
    head
    include template/headSRC

    title #{title}

    body
        .loading.show
            p Cargando...
            .spin

        include template/nav
        #panelContainer

            .panel.one
                .content.card
                    .card-body(style="max-height:800px; overflow-y:auto;")
                        include template/menu
            .panel.two
                
                    h3.my-3.mx-3 Dashboard
                    hr
                    .text-center.my-2.mx-3 
                        .row
                            .col-3
                                .card
                                    .card-header.bg-dark.text-white
                                        | Top 5 dentistas
                                    .card-body
                                        .row.top_5_dentistas(style="height:300px; max-height:300px; overflow-y:auto; ")
                            .col-3
                                .card
                                    .card-header.bg-dark.text-white
                                        | Top 5 productos
                                    .card-body
                                        .row.top_5_productos(style="height:300px; max-height:300px; overflow-y:auto; ")
                                
                            .col-6 
                                button.btn.btn-info.see_last_order Ver ultima orden 
               
                    





    include template/scripts
    script( src='./public/core/js/common.js')
    script( src='./public/core/js/panel.js')
