doctype html
html(lang="es")
      head
      include template/headSRC
        
      title #{title}

      body
         .container.my-5
      
               h2 Welcome to panel
               .loading.show
                  p Cargando..
                  .spin
         
          
        
      include template/scripts
