doctype html
html(lang="es")
      head
      include template/headSRC
        
      title #{title}

      body


            include template/nav
            #panelContainer

                  include template/menu
                  .panel.two
                        .content.p-0(style="max-height:800px; overflow-y:auto;")
                              div(style="width:100%;border-bottom: 1px solid #343A40 ")
                                    h3.m-3 Productos
                              .card
                                    .card-header 
                                          button.btn.btn-dark.open_modal_new_producto
                                                i.fas.fa-teeth
                                                |   Nuevo Producto  
                                    .card-body
                                        
                                                table#tbl_productos.display.table.table-hover(width='100%')
                                                      thead.thead-dark
                                                            tr

                                                                  
                                                                  th Nombre
                                                                  th Precio
                                                                  th Status
                                                                  th No.Usado
                                                                  th Acciones  

                                    .card-footer
                              
               
         
          
      include modals/new_producto_modal
      include modals/editItemsProduct


      include template/scripts
      script( src='./public/core/js/common.js?v=' + Math.random())
      script( src='./public/core/js/productos.js?v=' + Math.random())
