.container
  section.vh-100
    .container-fluid.h-custom
      .row.d-flex.justify-content-center.align-items-center.h-100
        .col-md-9.col-lg-6.col-xl-5
          img.img-fluid(src='/public/img/logo.jpg' alt='Sample image')
        .col-md-8.col-lg-6.col-xl-4.offset-xl-1
          form
            h4 Inicio de sesion
           
            .form-outline.mb-4
              input#user.form-control.form-control-lg(type='text' placeholder='Usuario')
              label.form-label(for='user') Usuario
            
            .form-outline.mb-3
              input#password.form-control.form-control-lg(type='password' placeholder='Contraseña')
              label.form-label(for='password') Contraseña

            .d-flex.justify-content-between.align-items-center
            
                
            
            .text-center.text-lg-start.mt-4.pt-2
              .reset_password(style='display:none;')
              br
              button.btn.btn-primary.btn-lg(type='button' style='padding-left: 2.5rem; padding-right: 2.5rem;')#entrar Entrar
            
    br
    br            
    br            

    .d-flex.flex-column.flex-md-row.text-center.text-md-start.justify-content-center.py-4.px-4.px-xl-5
      // Copyright
      .text-dark.mb-3.mb-md-0.text-center
        | Copyright &copy; 2022. - ToothLabMX V2.1.2  - Desarrollado por Jose Miguel Rosas Jimenez
    

      //- div
      //-   a.text-white.me-4(href='#!')
      //-     i.fab.fa-facebook-f
      //-   a.text-white.me-4(href='#!')
      //-     i.fab.fa-twitter
      //-   a.text-white.me-4(href='#!')
      //-     i.fab.fa-google
      //-   a.text-white(href='#!')
      //-     i.fab.fa-linkedin-in
      //- // Right

  script( src='./public/core/js/login.js')
      