.bg-dark.text-end.m-o.p-0
    button.btn.btn-sm.btn-light.text-dark#gitPull(type="submit").my-2.mx-3
      //  i.fas.fa-sync
        |   Descargar Actualizaciones
    button.btn.btn-sm.btn-light.text-dark.out_session(type="submit").my-2.mx-3
        i.fas.fa-sign-in-alt
        |   Cerrar Sesión
    
