.bg-dark.text-end.m-o.p-0

    button.btn.btn-sm.btn-light.text-dark#reload.text-start
        i.fas.fa-sync
        |   Recargar

    button.btn.btn-sm.btn-light.text-dark.out_session.my-2.mx-3
        i.fas.fa-sign-in-alt
        |   Cerrar Sesión
    
