div.my-3
    .row
        .col-3
            button.btn.btn-warning(type="button").my-3.mx-3
                i.fa-solid.fa-tooth.text-white
                span#ToothsOrder.count_tooths.badge.badge-light.text-dark.mx-2  0
        .col-6
            label.fw-bold Producto:
            input.producto_name.rounded-pill.border.border-dark(style="width:88%;" list='producto_option' autocomplete="off")
            datalist#producto_option
        .col-3
            label.fw-bold Color:
            input.color_name.rounded-pill.border.border-dark(style="width:95%;" list='color_option' autocomplete="off")
            datalist#color_option

    .row.my-4
        .col-6.text-end

            input#toothOrder_18.btn-check(value="18" typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-info.btn-sm(for='toothOrder_18')

                |  18

            input#toothOrder_17.btn-check(value="17"    typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-info.btn-sm(for='toothOrder_17')

                |  17

            input#toothOrder_16.btn-check(value="16"    typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-info.btn-sm(for='toothOrder_16')

                |  16

            input#toothOrder_15.btn-check(value="15"    typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-info.btn-sm(for='toothOrder_15')

                |  15

            input#toothOrder_14.btn-check(value="14"    typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-info.btn-sm(for='toothOrder_14')

                |  14

            input#toothOrder_13.btn-check(valuw="13"    typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-info.btn-sm(for='toothOrder_13')

                |  13

            input#toothOrder_12.btn-check(value="12"    typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-info.btn-sm(for='toothOrder_12')

                |  12

            input#toothOrder_11.btn-check(value="11"    typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-info.btn-sm(for='toothOrder_11')

                |  11

        .col-6.text-start

            input#toothOrder_21.btn-check(value="21"    typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-danger.btn-sm(for='toothOrder_21')

                |  21

            input#toothOrder_22.btn-check(value="22"    typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-danger.btn-sm(for='toothOrder_22')

                |  22

            input#toothOrder_23.btn-check(value="23"    typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-danger.btn-sm(for='toothOrder_23')

                |  23

            input#toothOrder_24.btn-check(value="24"    typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-danger.btn-sm(for='toothOrder_24')

                |  24

            input#toothOrder_25.btn-check(value="25"    typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-danger.btn-sm(for='toothOrder_25')

                |  25

            input#toothOrder_26.btn-check(value="26"    typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-danger.btn-sm(for='toothOrder_26')

                |  26

            input#toothOrder_27.btn-check(value="27"    typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-danger.btn-sm(for='toothOrder_27')

                |  27

            input#toothOrder_28.btn-check(value="28"    typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-danger.btn-sm(for='toothOrder_28')

                |  28

    .row.my-4
        .col-6.text-end

            input#toothOrder_48.btn-check(value="48"    typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-success.btn-sm(for='toothOrder_48')

                |  48

            input#toothOrder_47.btn-check(value="47"    typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-success.btn-sm(for='toothOrder_47')

                |  47

            input#toothOrder_46.btn-check(value="46"    typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-success.btn-sm(for='toothOrder_46')

                |  46

            input#toothOrder_45.btn-check(value="45"    typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-success.btn-sm(for='toothOrder_45')

                |  45

            input#toothOrder_44.btn-check(value="44"    typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-success.btn-sm(for='toothOrder_44')

                |  44

            input#toothOrder_43.btn-check(value="43"    typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-success.btn-sm(for='toothOrder_43')

                |  43

            input#toothOrder_42.btn-check(value="42"    typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-success.btn-sm(for='toothOrder_42')

                |  42

            input#toothOrder_41.btn-check(value="41"    typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-success.btn-sm(for='toothOrder_41')

                |  41

        .col-6.text-start

            input#toothOrder_31.btn-check(value="31" typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-warning.btn-sm(for='toothOrder_31')

                |  31

            input#toothOrder_32.btn-check(value="32" typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-warning.btn-sm(for='toothOrder_32')

                |  32

            input#toothOrder_33.btn-check(value="33" typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-warning.btn-sm(for='toothOrder_33')

                |  33

            input#toothOrder_34.btn-check(value="34" typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-warning.btn-sm(for='toothOrder_34')

                |  34

            input#toothOrder_35.btn-check(value="35" typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-warning.btn-sm(for='toothOrder_35')

                |  35

            input#toothOrder_36.btn-check(value="36" typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-warning.btn-sm(for='toothOrder_36')

                |  36

            input#toothOrder_37.btn-check(value="37" typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-warning.btn-sm(for='toothOrder_37')

                |  37

            input#toothOrder_38.btn-check( value="38" typeBtn='order' type='checkbox'   autocomplete='off')
            label.btn.btn-outline-warning.btn-sm(for='toothOrder_38')

                |  38

