div
    .card
        .card-header.p-0.m-0.bg-dark
            .py-2.m-0
                .row
                    .col-6
                        h5.text-white.mx-2 Ultima orden creada
                    .col-6
                        h6.text-white.mx-2.text-end Folio :
                            span.mx-1#Folio
        .card-body#inputsLastOrder
            div.my-2
                .row
                    .col-3
                        div

                            label.fw-bolder DR:
                            input#dentistaOrder.rounded-pill.form-control.border.border-dark.editDataOrder(list='dentista_option'  value="MELY")
                            datalist#dentista_option
                    .col-3
                        div

                            label.fw-bolder PX:
                            input#pacienteOrder.rounded-pill.form-control.border.border-dark.editDataOrder( )

                    .col-3

                        div
                            label.fw-bolder Entrada:
                            input#fechaEntranteLast.rounded-pill.form-control.border.border-dark( disabled )

                    .col-3
                        div
                            label.fw-bolder Fecha Saliente:
                            input#fechaSalienteLast.rounded-pill.form-control.border.border-dark.editDataOrder( type="text" autocomplete="off")


            div.my-4
                h6 Productos
            div#productos.my-3(style="overflow-y:scroll;max-height: 190px;")



                .row#gridProductos
            div.my-3.text-center

                .row.text-center.my-1
                    .col-12
                        label Comentarios
                        textarea#comentLast.form-control.border.border-dark.editDataOrder( name="", cols="5", rows="2" autocomplete="off")
                .row.my-4
                    .col-6
                         button.add_products#addProduct.my-1.btn.btn-secondary.btn-block Agregar producto

                    .col-6
                        h6 Cambiar status
                        div
                            .form-group
                                label Status actual:
                                select#statusLast.change_status.custom-select.rounded-pill.form-control.border.border-dark
                                    option.text-primary(value=0) Selecciona un status
                                    option.text-primary(value=1) Entrante
                                    option.text-warning(value=2) A prueba
                                    option.text-secondary(value=3) Regresada
                                    option.text-success(value=4) Terminada
                                    option.text-info(value=5) Con cambios

                                    option.text-danger(value=6) Cnacelada con costos
                                    option.text-danger(value=7) Cancelada




